<ng-container class="" [formGroup]="form" (ngSubmit)="Submit(form.value)">
    <h1 style="text-align: center;">User Form</h1>
    <div class="form-control">
        <label>Name</label>
        <input type="text" placeholder="Name" formControlName="name" nbInput fullWidth shape="semi-round">
        <div class="validation" *ngIf="form.get('name').invalid && form.get('name').touched">
            <small *ngIf="form.get('name').errors.required">Name is required</small>
            <small *ngIf="form.get('name').errors.minlength">Min length should be {{
                form.get('name').errors.minlength.requiredLength }} symbols</small>
        </div>
    </div>
    <div class="form-control">
        <label>Surname</label>
        <input type="text" placeholder="Surname" formControlName="surname" nbInput fullWidth shape="semi-round">
        <div class="validation" *ngIf="form.get('surname').invalid && form.get('surname').touched">
            <small *ngIf="form.get('surname').errors.required">Surname is required</small>
            <small *ngIf="form.get('surname').errors.minlength">Min length should be {{
                form.get('surname').errors.minlength.requiredLength }} symbols</small>
        </div>
    </div>
    <div class="card" formGroupName="address">
        <h2>Additional Information</h2>
        <div class="form-control">
            <label>Location</label>
            <nb-select fullWidth shape="semi-round" formControlName="country" placeholder="Country">
                <nb-option *ngFor="let country of countries$ | async" [value]="country.id">{{ country.name }}
                </nb-option>
            </nb-select>
            <div class="validation" *ngIf="form.get('address').get('country').invalid && form.get('address').get('country').touched">
                <small *ngIf="form.get('address').get('country').errors.required">Country is required</small>
            </div>
        </div>
        <div class="form-control">
            <input type="text" placeholder="City" formControlName="city" nbInput fullWidth shape="semi-round">
            <div class="validation" *ngIf="form.get('address').get('city').invalid && form.get('address').get('city').touched">
                <small *ngIf="form.get('address').get('city').errors.required">City is required</small>
            </div>
        </div>
        <div class="form-control">
            <input type="text" placeholder="Street" formControlName="street" nbInput fullWidth shape="semi-round">
            <div class="validation" *ngIf="form.get('address').get('street').invalid && form.get('address').get('street').touched">
                <small *ngIf="form.get('address').get('city').errors.required">Street name is required</small>
            </div>
        </div>
        <div class="form-control">
            <input type="text" placeholder="Bulding №" formControlName="building" nbInput fullWidth shape="semi-round">
            <div class="validation" *ngIf="form.get('address').get('building').invalid && form.get('address').get('building').touched">
                <small *ngIf="form.get('address').get('building').errors.required">Building number is required</small>
            </div>
        </div>
        <div class="form-control">
            <label>Date of Birth</label>
            <input nbInput fullWidth shape="semi-round" [nbDatepicker]="datepicker" formControlName="dateOfBirth"
                placeholder="Date of birth">
            <nb-datepicker #datepicker></nb-datepicker>
            <div class="validation" *ngIf="form.get('address').get('dateOfBirth').invalid && form.get('address').get('dateOfBirth').touched">
                <small *ngIf="form.get('address').get('dateOfBirth').errors.required">Date of birth is required</small>
            </div>
        </div>
    </div>
    <ng-content></ng-content>
</ng-container>
