<ng-container [formGroup]="form" (ngSubmit)="Submit()">
    <div class="form-control">
        <label>Email</label>
        <input type="text" placeholder="Email" formControlName="email" nbInput fullWidth shape="semi-round" #email>
        <div class="validation" *ngIf="form.get('email').invalid && form.get('email').touched">
            <small *ngIf="form.get('email').errors.required">Email is required</small>
        </div>
    </div>

    <div class="form-control">
        <label>Password</label>
        <input type="password" placeholder="Password" formControlName="password" nbInput fullWidth shape="semi-round" #password>
        <div class="validation" *ngIf="form.get('password').invalid && form.get('password').touched">
            <small *ngIf="form.get('password').errors.required">Password is required</small>
        </div>
    </div>
    <ng-content></ng-content>
</ng-container>