<div class="container">
    <form [formGroup] = "form">
        <div class="form-control">
            <label>Email</label>
            <input type="email" placeholder="Email" formControlName="email" nbInput fullWidth shape="semi-round" #email>
            <div class="validation" *ngIf="form.get('email').invalid && form.get('email').touched">
                <small *ngIf="form.get('email').errors.required">Email is required</small>
            </div>
        </div>

        <div class="form-control">
            <label>Password</label>
            <input type="password" placeholder="Password" formControlName="password" nbInput fullWidth shape="semi-round" #password>
            <div class="validation" *ngIf="form.get('password').invalid && form.get('password').touched">
                <small *ngIf="form.get('password').errors.required">Password is required</small>
            </div>
        </div>
        <button statis = "danger" class="btn" type="submit"  nbButton shape="semi-round" (click) = "logIn(email.value, password.value, 'danger')" [disabled] = 'form.invalid'>Log In</button>
    </form>
</div>