<div class="container">
  <form class="card" [formGroup] ="form" (ngSubmit)="Submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Name</label>
      <input type="text" placeholder="Name" formControlName="name">
      <div class="validation" *ngIf="form.get('name').invalid && form.get('name').touched">
        <small *ngIf="form.get('name').errors.required">Name is required</small>
        <small *ngIf="form.get('name').errors.minlength">Min length should be {{ form.get('name').errors.minlength.requiredLength }} symbols</small>
      </div>
    </div>

    <div class="form-control">
      <label>Surname</label>
      <input type="text" placeholder="Surname" formControlName="surname">
      <div class="validation" *ngIf="form.get('surname').invalid && form.get('surname').touched">
        <small *ngIf="form.get('surname').errors.required">Surname is required</small>
        <small *ngIf="form.get('surname').errors.minlength">Min length should be {{ form.get('surname').errors.minlength.requiredLength }} symbols</small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Address</h2>
      <div class="form-control">
        <label>Country</label>
        <select formControlName="country">
          <option value="ua">Ukraine</option>
          <option value="us">USA</option>
          <option value="ca">Canada</option>
        </select>
      </div>
      <div class="form-control">
        <input type="text" placeholder="City" formControlName="city">
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid"(click) = "addUser()" *ngIf="!isEditing; else editing">Submit!</button>
    <ng-template #editing>
      <button class="btn" type="submit" (click) = "editUser()">Edit!!!!</button>
    </ng-template>

  </form>
  <app-user-card *ngFor="let user of users" [user]="user" (onDelete)="removeCard($event)" (onEdit) ="editCard($event)"></app-user-card>
</div>