<nb-layout>
  <nb-layout-header fixed>
    <button outline nbButton [nbContextMenu]="items">
      Show Menu
    </button>
    <button class="btn" nbButton shape="semi-round" (click) = "logOut()" *ngIf="isLoggedIn else signUp">Log out</button>
    <ng-template  #signUp>
      <button nbButton class="btn" shape="semi-round" (click) = "signUp()">Sign UP</button>
    </ng-template>
  </nb-layout-header>
  <nb-sidebar></nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>